.cover__link {
  display: flex;
  background-image: url(./cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
  height: 100%;
  position: relative;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./cover-overlay.jpg);
  transition: var(--link-hover-transition);
  opacity: 0.3;
}

.cover__link:hover::after {
    opacity: var(--link-hover-opacity);
}
