.cover__link {
  display: flex;
  background-image: url(../../../images/jpg/cover-trains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-decoration: none;
  min-height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2b2c30;
  transition: var(--link-hover-transition);
  opacity: 0.3;
}

.cover__link:hover::after {
  opacity: var(--link-hover-opacity);
}
