.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(./logo.svg);
}

@media all and (max-width: 767px) {
  .header__logo {
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}