.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
}

@media all and (max-width: 767px) {
  .lead__title {
    font-size: 38px;
    /* It's 40px in the mockup, but fz40px leads to the horizontal scroll at 320px  */
    line-height: 44px;
    margin: 0 16px;
  }
}

