/* GLOBAL VARIABLES */

:root {
  --background-color-main: #2a2c2f;
  --color-main: #fff;
  --main-width-max: 1280px;
  --link-hover-transition: opacity 0.3s ease-in;
  --link-hover-opacity: .8;
}

/* PAGE STYLES */

.page {
  background-color: var(--background-color-main);
  color: var(--color-main);
  font-family: "Inter", "Arial", sans-serif;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: var(--main-width-max);
  margin: 28px auto 56px;
  padding: 0 48px;
  /* outline: 1px solid red; */
}

.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../images/logo.svg);
}

.header__lang-container {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  column-gap: 18px;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-main);
  text-decoration: none;
  transition: var(--link-hover-transition);
}

.header__lang-link:hover {
  opacity: var(--link-hover-opacity);
}

.header__lang-link_status_active {
  pointer-events: none;
  text-decoration: underline;
}

.header__lang-abbr[title] {
  text-decoration: none;
}

/* MAIN */

.main {
  display: grid;
  grid-auto-flow: row;
  gap: 92px;
}

/* LEAD */

.lead {
  margin: 0 auto;
  max-width: 984px;
  /* outline: 1px solid red; */
}

.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  font-weight: 900;
}

.lead__subtitle {
  padding-top: 32px;
  max-width: 640px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__figure {
  margin: 0;
}

.lead__image {
  margin-top: 64px;
}

.lead__image:before {
  position: absolute;
  height: 100%;
  width: 90%;
  background-image: url(../images/path.svg);
  content: " ";
}

.lead__caption {
  margin: 6px 0 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* INTRO */

.intro {
  width: 984px;
  margin: 0 auto;
}

.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  padding-bottom: 40px;
  margin: 0;
}

.intro__text {
  margin: 0 0 33px 0;
  max-width: 690px;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  padding-left: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.intro__list-item-lead {
  font-weight: bold;
  padding-right: 6px;
}

/* PHOTO-GRID */

.photo-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 16px;
  padding-left: 0;
  margin: 0;
  justify-content: center;
}

/* PLACES */

.places {
  max-width: 984px;
  margin: 0 auto;
}

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: min-content min-content;
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

.place__website {
  align-self: end;
}

.place__url-headeing {
  margin: 0;
  color: #AAA;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .2em;
  margin-bottom: 12px;
}

.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: inherit;
  transition: var(--link-hover-transition);
}

.place__link:hover {
  opacity: var(--link-hover-opacity);
} 

.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

/* COVER */

.cover {
  position: relative;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.cover__text-container {
  width: 560px;
  position: absolute;
	top: calc(50% - (250px / 2));
  left: calc(50% - (560px / 2));
  z-index: 100;
}

.cover__title {
  color: white;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
}

.cover__subtitle {
  color: white;
  width: 360px;
  margin: 32px auto 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.cover__overlay {
  background-image: url(../images/jpg/cover-overlay.jpg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: .3;
  transition: var(--link-hover-transition);
}

.cover__link:hover .cover__overlay {
  opacity: .8;
}

/* FOOTER */

.footer {
  max-width: 1184px;
  margin: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

.footer__links {
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  padding-left: 0;
  margin: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
  transition: var(--link-hover-transition);
}

.footer__link:hover {
  opacity: var(--link-hover-opacity);
}

.footer__copyright {
  margin: 0;
}